/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*COLOR
=============================*/
/*FONTS
=============================*/
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.6666666666%;
}

.col-12 {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  padding: 22px 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  border: 1px solid transparent;
  outline: none;
  color: black;
}

.btn--orange {
  background-color: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--orange:hover {
  background-color: transparent;
  border: 1px solid #E2B024;
  color: #E2B024;
}

.btn--red {
  background-color: red;
  color: black;
}

.btn--red:hover {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

.orange {
  color: #E2B024;
}

.section__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
}

.readmore {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #E2B024;
}

.link {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 9px;
  color: #E2B024;
  padding: 8px 0;
}

.uppercase {
  text-transform: uppercase;
}

.header__top, .header__top--right, .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top {
  padding: 12px 0;
}

.header__logo {
  margin-right: -220px;
}

.header__list, .header__icons, .header__slogan,
.header .list__link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.header__icon {
  margin-left: 30px;
  cursor: pointer;
}

.header .list__item {
  margin-left: 46px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .list__item .list__link:hover {
  color: #E2B024;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 22px 0;
}

.nav__menu .menu__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #E2B024;
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.nav__menu .menu__link:hover {
  border-bottom: 1px solid #E2B024;
}

.overlay {
  position: fixed;
  width: 0%;
  height: 100%;
  z-index: 15;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: black;
  opacity: 0.9;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.overlay .closebtn {
  position: absolute;
  top: 5%;
  right: 45px;
  font-size: 45px;
  color: #E2B024;
  -webkit-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}

.overlay .closebtn:hover, .overlay .closebtn:focus {
  color: #FFFFFF;
}

.burger__overlay {
  width: 40%;
  display: none;
}

.burger__menu {
  top: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu .menu__link {
  color: #E2B024;
  position: relative;
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger__menu .menu__link span svg {
  fill: #E2B024;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger__menu .menu__link:hover, .burger__menu .menu__link:focus {
  color: #FFFFFF;
}

.burger__menu .menu__link:hover::before, .burger__menu .menu__link:focus::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  background-color: #FFFFFF;
  left: -55px;
  top: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: example 0.3s forwards;
          animation: example 0.3s forwards;
}

@-webkit-keyframes example {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 10px;
    height: 1px;
  }
  50% {
    width: 25px;
    height: 1px;
  }
  75% {
    width: 35px;
    height: 1px;
  }
  100% {
    width: 45px;
    height: 1px;
  }
}

@keyframes example {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 10px;
    height: 1px;
  }
  50% {
    width: 25px;
    height: 1px;
  }
  75% {
    width: 35px;
    height: 1px;
  }
  100% {
    width: 45px;
    height: 1px;
  }
}

.burger__menu .menu__link:hover svg, .burger__menu .menu__link:focus svg {
  fill: #FFFFFF;
}

.search__overlay {
  width: 40%;
  display: none;
}

.search__form {
  position: relative;
  top: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.search__label {
  width: 85%;
}

.search__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 18px 35px 18px 35px;
  outline: none;
  color: black;
  width: 100%;
  border: none;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search__input::-webkit-input-placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.search__input:-ms-input-placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.search__input::-ms-input-placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.search__input::placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.search__button {
  padding: 15px 30px;
  border: 1px solid transparent;
  outline: none;
  background-color: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.search__button i {
  color: black;
  font-size: 27px;
}

.search__button:hover {
  border: 1px solid #E2B024;
  background-color: transparent;
}

.search__button:hover i {
  color: #E2B024;
}

.login__overlay {
  width: 40%;
  display: none;
}

.login__form {
  width: 90%;
  margin: 5% auto 15% auto;
}

.login__img-container {
  text-align: center;
  margin: 100px 0 50px;
}

.login__img-container svg {
  width: 30%;
  fill: #E2B024;
}

.login__psw {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.login__psw a {
  color: #E2B024;
}

.login__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__checkbox {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px 0 50px;
}

.login__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.login__label span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  position: absolute;
  top: -15px;
  left: 35px;
  padding: 0 15px;
  background-color: black;
}

.login__label input {
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 20px;
}

.login__button {
  width: 100%;
}

.login__closebtn {
  position: absolute;
  top: 5%;
  right: 45px;
  font-size: 45px;
  color: #E2B024;
  -webkit-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}

.login__closebtn:hover, .login__closebtn:focus {
  color: #FFFFFF;
}

.register__overlay {
  width: 40%;
  display: none;
}

.register__container {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 5% auto 15% auto;
}

.register__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  text-align: left;
  padding: 100px 0 30px;
}

.register__psw, .register__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.register__description {
  padding-bottom: 100px;
}

.register__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0 0 30px;
}

.register__text a {
  color: #E2B024;
}

.register__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.register__label span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  position: absolute;
  top: -15px;
  left: 35px;
  padding: 0 15px;
  background-color: black;
}

.register__label input {
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 20px;
}

.register__button {
  width: 100%;
  margin-bottom: 30px;
}

.register__closebtn {
  position: absolute;
  top: 5%;
  right: 45px;
  font-size: 45px;
  color: #E2B024;
  -webkit-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}

.register__closebtn:hover, .register__closebtn:focus {
  color: #FFFFFF;
}

.hero {
  padding-top: 190px;
  color: #FFFFFF;
  text-align: center;
  -webkit-filter: 5px;
          filter: 5px;
}

.hero__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__suptitle {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}

.hero__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 55px;
  margin: 32px 0 32px;
}

.hero__description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-style: normal;
  max-width: 745px;
  margin-bottom: 35px;
}

.hero__description #more {
  display: none;
}

.hero__link {
  margin-bottom: 30px;
}

.new {
  background-color: #18191A;
  width: 100%;
}

.new__row {
  padding: 267px 0;
}

.new__item--left {
  padding-right: 65px;
}

.new__suptitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 47px;
  letter-spacing: 10px;
}

.new__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 43px;
  color: #E2B024;
  margin-bottom: 8px;
}

.new__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.new__description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.new__buttons .new__button:first-child {
  margin-right: 60px;
}

.new__item--right {
  position: relative;
}

.new__img {
  max-height: 650px !important;
}

.new__arrows .slider__prev,
.new__arrows .slider__next {
  position: absolute;
  border-bottom: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new__arrows .slider__prev:hover,
.new__arrows .slider__next:hover {
  color: #E2B024;
  border-bottom: 2px solid #E2B024;
}

.new__arrows .slider__prev {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 48%;
}

.new__arrows .slider__next {
  right: -2%;
  bottom: 48%;
}

.new .slick-list {
  overflow-x: hidden;
  width: 100%;
}

.new .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new__slider {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
}

.new__slider .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new .slick-slider {
  outline: none;
  border: none;
}

.sort__row {
  width: 100% !important;
}

.sort__title {
  margin: 100px 0 90px;
}

.sort__filter {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  line-height: 1.5;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.sort__filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.sort__filter .filter__items {
  margin-right: 70px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sort__filter .filter__items:last-child {
  margin-right: 0;
}

.sort__filter .filter__items--active {
  color: #E2B024;
  cursor: pointer;
}

.sort__filter .filter__items--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E2B024;
  bottom: 0;
  left: 0;
  z-index: 12;
}

.sort__item {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical  !important;
  -webkit-box-direction: normal  !important;
      -ms-flex-direction: column  !important;
          flex-direction: column  !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 0 0 95px 0;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.sort__img {
  margin-bottom: 15px;
  max-height: 360px;
}

.sort__discount {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
  display: inline-block !important;
  background-color: #E2B024;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 80px;
  height: 40px;
  display: -webkit-box  !important;
  display: -ms-flexbox  !important;
  display: flex  !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.sort__row {
  padding-top: 90px;
}

.sort__column {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.sort__product-name {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  -ms-grid-column-align: left;
      justify-self: left;
}

.sort__old-price {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #E2B024;
  text-decoration: line-through;
  margin-right: 5px;
}

.sort__new-price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #E2B024;
}

.sort__link {
  margin-bottom: 170px;
}

.review {
  background-image: url("../images/png/reviewbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 774px;
  text-align: center;
  position: relative;
}

.review__opacity {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.review__inner {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.review__title {
  padding: 150px 0 60px;
}

.review__img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #FFFFFF;
  overflow: hidden;
}

.review__img img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review__name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 2;
  color: #FFFFFF;
  margin: 30px 0;
}

.review__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #FFFFFF;
  width: 60%;
  margin: 0 auto;
}

.review .slick-slide {
  border: none !important;
  outline: none !important;
}

.review .slick-list {
  overflow: hidden;
}

.review .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.review .slick-dots {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.review .slick-dots li {
  list-style-type: none;
  margin: 10px;
}

.review .slick-dots li button {
  outline: none;
  border: transparent;
  font-size: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.review .slick-dots .slick-active button {
  background-color: #E2B024;
}

.offer__title {
  margin: 150px 0 135px;
}

.offer__row {
  min-width: 0;
}

.offer__item {
  position: relative;
  margin: 0 10px;
  width: 100%;
}

.offer__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  bottom: 0;
  left: 6%;
  min-width: 0;
}

.offer__opacity {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: black;
  opacity: .7;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.offer__name {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.offer__price {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.offer .slick-slider {
  position: relative;
  outline: none;
  border: none;
}

.offer .slick-slider::before, .offer .slick-slider::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: black;
  z-index: 2;
}

.offer .slick-slider::after {
  left: 0;
}

.offer .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer .slick-slide {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .slick-slide.slick-current .offer__item .offer__opacity, .offer .slick-slide.slick-center .offer__item .offer__opacity {
  opacity: 0;
}

.offer .slick-slide img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.offer .slick-list {
  overflow: hidden;
}

.offer .slick-dots {
  padding-top: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .slick-dots li {
  list-style-type: none;
  margin: 10px;
}

.offer .slick-dots li button {
  outline: none;
  border: transparent;
  font-size: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.offer .slick-dots .slick-active button {
  background-color: #E2B024;
}

.events {
  padding-bottom: 150px;
}

.events__title {
  margin-bottom: 60px;
}

.events__row {
  min-width: 0;
}

.events__img {
  min-width: 100%;
}

.events__inner {
  padding-top: 255px;
  color: #FFFFFF;
  position: relative;
}

.events__link {
  padding: 8px 0;
  width: 122px;
}

.events__name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding: 60px 0 8px;
}

.events__date, .events__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.events__text {
  width: 65%;
  margin: 45px 0;
}

.events__item--right {
  padding-left: 30px;
  background-color: #18191A;
  height: 100%;
}

.events i {
  color: white;
  font-size: 65px;
}

.events .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .slick-slide {
  border: none !important;
  outline: none !important;
}

.events .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .slick-list {
  overflow: hidden;
}

.events .slick-arrow {
  position: absolute;
  font-size: 0;
  outline: none;
  border: none;
  z-index: 2;
}

.events .slick-arrow svg {
  stroke: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events .slick-arrow svg:hover {
  stroke: #FFFFFF;
}

.events .prev__arrow {
  left: -150px;
  top: 78%;
  -webkit-transform: translateY(-78%);
          transform: translateY(-78%);
  color: white;
  font-size: 50px;
}

.events .next__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -150px;
  top: 70%;
}

.contact__row {
  padding: 100px 0 150px;
}

.contact__description, .contact__type {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}

.contact__item {
  margin-bottom: 42px;
}

.contact__description {
  line-height: 2;
  padding-bottom: 75px;
  max-width: 450px;
}

.contact__icon {
  margin-right: 30px;
}

.contact .social-icons__item {
  margin-top: 25px;
  margin-right: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .social-icons__item svg {
  fill: #E2B024;
}

.contact .social-icons__item:hover svg {
  fill: #FFFFFF;
}

.contact__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.contact__label span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  position: absolute;
  top: -15px;
  left: 35px;
  padding: 0 15px;
  background-color: black;
}

.contact__label input {
  width: 100%;
  height: 55px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

.contact__label textarea {
  width: 100%;
  height: 103px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

.contact__button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.newsletter {
  background-color: #18191A;
  padding-bottom: 60px;
  width: 100%;
}

.newsletter__title {
  padding: 60px 0 24px;
  color: #E2B024;
}

.newsletter__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 69px;
  text-align: center;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin: 0 auto;
}

.newsletter__label1 {
  width: 75%;
}

.newsletter__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  padding: 18px 35px;
  outline: none;
  color: #FFFFFF;
  width: 100%;
  border: none;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.newsletter__email::-webkit-input-placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: flex;
}

.newsletter__email:-ms-input-placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__email::-ms-input-placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__email::placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  padding: 18px 20px;
  border: 1px solid transparent;
  outline: none;
  background-color: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter__button:hover {
  border: 1px solid #E2B024;
  background-color: transparent;
  color: #E2B024;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.footer__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #E2B024;
  margin: 133px 0 42px;
  text-transform: uppercase;
}

.footer__link {
  margin-bottom: 25px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer__item svg {
  margin-right: 15px;
}

.footer__social-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px 0 35px;
}

.footer__social-icons .social-icons__item {
  margin-right: 45px;
}

.footer__social-icons svg {
  fill: #E2B024;
  width: 24px;
  height: 24px;
}

.footer__social-icons svg:hover {
  fill: #FFFFFF;
}

.footer__bottom {
  border-top: 2px solid #FFFFFF;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 22px 0 44px;
}

@media (max-width: 599px) {
  .col-3 {
    width: 50%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 30px;
  }
  .link {
    font-size: 12px;
    padding: 4px 0;
  }
  .btn {
    padding: 15px 30px;
    font-size: 18px;
  }
  .section__title {
    font-size: 40px;
  }
}

/*======================================*/
@media (max-width: 420px) {
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .section__title {
    font-size: 24px;
  }
  .link {
    font-size: 8px;
    padding: 4px 0;
    line-height: 1;
  }
  .readmore {
    border-bottom: 1px solid #E2B024;
  }
}

@media (max-width: 599px) {
  .header__top {
    padding-top: 25px 0;
  }
  .header__logo {
    margin: 0;
    max-width: 25%;
  }
  .header__list .list__item {
    margin-left: 10px;
  }
  .header__list .list__item:first-child {
    margin-left: 0;
  }
  .header__bottom, .header__slogan {
    display: none;
  }
  .header .overlay {
    opacity: .9;
    -webkit-backdrop-filter: 5px;
            backdrop-filter: 5px;
  }
  .header .burger__overlay,
  .header .search__overlay,
  .header .login__overlay,
  .header .register__overlay {
    width: 100%;
  }
}

/*======================================*/
@media (max-width: 420px) {
  .header__list {
    display: none;
  }
  .header .overlay {
    opacity: .9;
  }
  .header .search__input {
    padding: 10px;
  }
  .header .search__input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header .search__input:-ms-input-placeholder {
    font-size: 12px;
  }
  .header .search__input::-ms-input-placeholder {
    font-size: 12px;
  }
  .header .search__input::placeholder {
    font-size: 12px;
  }
  .header .search__button {
    padding: 12px;
  }
  .header .search__button i {
    font-size: 18px;
  }
  .header .burder__menu {
    top: 25%;
  }
}

@media (max-width: 599px) {
  .hero {
    padding-top: 70px;
    max-height: 100vh;
  }
  .hero__suptitle {
    font-size: 14px;
  }
  .hero__title {
    font-size: 36px;
    margin: 15px 0 15px;
  }
  .hero__description {
    font-size: 12px;
    max-width: 300px;
    margin-bottom: 15px;
  }
  .hero__link {
    margin-bottom: 15px;
  }
  .hero__img {
    max-width: 50%;
  }
}

/*=====================================*/
@media (max-width: 420px) {
  .hero {
    padding-top: 150px;
  }
}

@media (max-width: 599px) {
  .new__row {
    padding: 80px 0;
  }
  .new__item-left {
    padding-right: 0;
  }
  .new__suptitle {
    margin-bottom: 30px;
  }
  .new__title {
    font-size: 60px;
  }
  .new__subtitle {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .new__description {
    font-size: 14px;
  }
  .new__item--right {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new__circle svg {
    max-width: 420px !important;
  }
  .new__arrows .slider__next, .new__arrows .slider__prev {
    font-size: 18px;
  }
  .new__arrows .slider__prev {
    left: 12%;
  }
  .new__arrows .slider__next {
    right: 9%;
  }
  .new__img {
    margin-top: 100px;
    max-height: 480px !important;
  }
}

/*==========================================*/
@media (max-width: 420px) {
  .new__row {
    padding: 80px 0 0;
  }
  .new__item--left {
    padding: 0;
  }
  .new__item--right {
    margin-top: 30px;
  }
  .new__suptitle {
    font-size: 18px;
  }
  .new__title {
    font-size: 52px;
  }
  .new__subtitle {
    font-size: 24px;
  }
  .new__buttons .new__button:first-child {
    margin-right: 20px;
  }
  .new__circle {
    margin-top: -80px;
  }
  .new__circle svg {
    max-width: 270px !important;
  }
  .new__img {
    max-height: 300px !important;
  }
  .new__arrows .slider__next, .new__arrows .slider__prev {
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;
    line-height: 1.3;
  }
  .new__arrows .slider__prev {
    left: 12%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 58%;
  }
  .new__arrows .slider__next {
    right: 8%;
    bottom: 58%;
  }
}

@media (max-width: 599px) {
  .sort__title {
    margin: 80px 0 30px;
  }
  .sort__filter {
    font-size: 18px;
  }
  .sort__item {
    margin-bottom: 50px;
  }
  .sort__row {
    padding-top: 80px;
  }
  .sort__product-name {
    font-size: 18px;
  }
  .sort__old-price {
    font-size: 14px;
  }
  .sort__new-price {
    font-size: 18px;
  }
  .sort__link {
    margin-bottom: 100px;
  }
  .sort__img {
    max-height: 300px;
  }
}

/*=========================================*/
@media (max-width: 420px) {
  .sort__filter {
    font-size: 14px;
  }
  .sort__filter .filter__items {
    margin-right: 35px;
  }
  .sort__discount {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
  .sort__img {
    max-height: 220px;
  }
  .sort__product-name {
    font-size: 14px;
  }
  .sort__old-price {
    font-size: 11px;
  }
  .sort__new-price {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .review {
    min-height: 640px;
  }
  .review__title {
    padding: 80px 0 30px;
  }
  .review__name {
    margin: 15px 0;
  }
  .review__description {
    width: 85%;
  }
  .review .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}

/*===================================*/
@media (max-width: 420px) {
  .review {
    min-height: 560px;
  }
  .review__img {
    width: 130px;
    height: 130px;
  }
  .review__name {
    margin: 10px 0;
    font-size: 16px;
  }
  .review__description {
    width: 100%;
    font-size: 12px;
  }
  .review .slider__item {
    padding: 0 10px;
  }
}

@media (max-width: 599px) {
  .offer__title {
    margin: 80px 0 30px;
  }
  .offer__name {
    font-size: 10px;
    font-weight: 200;
  }
  .offer__price {
    font-size: 12px;
    line-height: 1.5;
  }
  .offer .slick-dots {
    padding-top: 45px;
  }
  .offer .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .offer .slick-slide.slick-current .offer__info, .offer .slick-slide.slick-center .offer__info {
    bottom: 7px;
  }
}

/*=========================================*/
@media (max-width: 420px) {
  .offer .slick-slide.slick-current .offer__info, .offer .slick-slide.slick-center .offer__info {
    bottom: 7px;
  }
}

@media (max-width: 599px) {
  .events {
    padding-bottom: 80px;
  }
  .events__inner {
    padding-top: 80px;
    position: relative;
  }
  .events__title {
    margin-bottom: 20px;
  }
  .events__name {
    font-size: 16px;
    padding: 10px 4px;
  }
  .events__date, .events__text {
    font-size: 12px;
    margin: 15px 0;
  }
  .events__text {
    width: 90%;
  }
  .events__link {
    padding: 0;
    width: 85px;
  }
  .events__arrow {
    display: none;
  }
  .events .slick-dots {
    padding-top: 80px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -18%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .events .slick-dots li {
    list-style-type: none;
    margin: 10px;
  }
  .events .slick-dots li button {
    outline: none;
    border: transparent;
    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  .events .slick-dots .slick-active button {
    background-color: #E2B024;
  }
}

/*==============================================*/
@media (max-width: 420px) {
  .events {
    padding-bottom: 50px;
  }
  .events__name {
    line-height: 1;
    font-size: 10px;
    padding: 10px 0;
    padding: 10px 0 0;
  }
  .events__date, .events__text {
    font-size: 8px;
  }
  .events__text {
    margin: 5px 0;
  }
  .events__link {
    width: 60px;
  }
}

@media (max-width: 599px) {
  .contact {
    padding-top: 70px;
  }
  .contact__row {
    padding: 30px 0;
  }
  .contact__description, .contact__type {
    font-size: 14px;
  }
  .contact__description {
    max-width: 100%;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.4;
  }
  .contact__item {
    margin-bottom: 15px;
  }
  .contact .social-icons__item {
    margin: 10px 30px 0 0;
  }
  .contact .social-icons__item svg {
    width: 30px;
  }
  .contact__form {
    margin-top: 50px;
  }
}

/*========================================*/
@media (max-width: 420px) {
  .contact__description {
    max-width: 100%;
    padding-bottom: 30px;
    line-height: 1.4;
    font-size: 12px;
  }
  .contact__icon {
    margin-right: 20px;
  }
  .contact__icon svg {
    width: 16px;
    height: 16px;
  }
  .contact__type {
    font-size: 12px;
  }
  .contact__item {
    margin-bottom: 8px;
  }
  .contact .social-icons__item {
    margin: 5px 30px 0 0;
  }
  .contact .social-icons__item svg {
    width: 25px;
    height: 25px;
  }
  .contact__label span {
    font-size: 14px;
    top: -8px;
    left: 20px;
  }
  .contact__label input {
    height: 35px;
  }
  .contact__label textarea {
    height: 80px;
  }
}

@media (max-width: 599px) {
  .newsletter__description {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .newsletter__title {
    padding: 60px 0 10px;
  }
  .newsletter__email {
    padding: 10px 20px;
    font-size: 14px;
  }
  .newsletter__email::-webkit-input-placeholder {
    font-size: 14px;
  }
  .newsletter__email:-ms-input-placeholder {
    font-size: 14px;
  }
  .newsletter__email::-ms-input-placeholder {
    font-size: 14px;
  }
  .newsletter__email::placeholder {
    font-size: 14px;
  }
  .newsletter__form {
    width: 75%;
  }
  .newsletter__button {
    font-size: 14px;
  }
}

/*=======================================*/
@media (max-width: 420px) {
  .newsletter__form {
    width: 85%;
  }
  .newsletter__button {
    padding: 10px;
  }
  .newsletter__label {
    font-size: 9px;
  }
}

@media (max-width: 599px) {
  .footer__top {
    margin: 50px 0;
  }
  .footer__title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 15px 0;
  }
  .footer__link {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .footer__social-icons {
    margin: 10px 0;
  }
  .footer__social-icons .social-icons__item {
    margin-right: 30px;
  }
  .footer__bottom {
    font-size: 14px;
  }
}

/*==========================================*/
@media (max-width: 420px) {
  .footer__link {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .footer__social-icons .social-icons__item {
    margin-right: 17px;
  }
  .footer__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__item svg {
    margin-right: 5px;
  }
  .footer__bottom {
    padding: 18px 25px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=index.css.map */