/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*COLOR
=============================*/
/*FONTS
=============================*/
.col-4 {
  width: 25%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  padding: 22px 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid transparent;
  color: black;
}

.btn--orange {
  background-color: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--orange:hover {
  background-color: transparent;
  border: 1px solid #E2B024;
  color: #FFFFFF;
}

.orange {
  color: #E2B024;
}

.header__wrapper {
  background-color: black;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__slogan {
  color: white;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: 225px;
  margin-right: 105px;
}

.header__li {
  margin-left: 4px;
}

.header__a {
  text-decoration: none;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  font-family: "ChocolateBox", sans-serif;
  color: white;
  padding: 22px 0;
}

.header__menu .menu__link {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu .menu__link:hover {
  color: #E2B024;
  border-bottom: 1px c;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__register {
  color: white;
  margin-right: 12px;
}

.header__icon {
  margin-left: 30px;
}

.hero {
  padding-top: 190px;
  color: #FFFFFF;
  text-align: center;
}

.hero__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__suptitle {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}

.hero__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 55px;
  margin: 32px 0 32px;
}

.hero__description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  max-width: 745px;
  font-style: normal;
  max-width: 745px;
  margin-bottom: 35px;
}

.hero__link {
  padding: 8px 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #E2B024;
  margin-bottom: 30px;
}

.hero .link {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 9px;
  color: #E2B024;
  text-transform: uppercase;
}

.new {
  background-color: #18191A;
}

.new__row {
  padding: 267px 0;
}

.new__item {
  padding-right: 65px;
}

.new__suptitle {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 47px;
}

.new__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 43px;
  color: #E2B024;
  margin-bottom: 8px;
}

.new__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.new__description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.new__buttons {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.new__buttons .new__button:first-child {
  margin-right: 60px;
}

.new__item--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.new__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 690px !important;
  width: 210px !important;
}

.new__circle {
  position: relative;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background-color: #E2B024;
  margin-left: 100px;
}

.new__circle::before {
  content: "";
  position: absolute;
  width: 567px;
  height: 206px;
  border-bottom: transparent;
  border-top: 10px solid #E2B024;
  border-right: 10px solid #E2B024;
  border-left: 10px solid #E2B024;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new__circle::after {
  content: "";
  position: absolute;
  width: 567px;
  height: 206px;
  border-top: transparent;
  border-bottom: 10px solid #E2B024;
  border-right: 10px solid #E2B024;
  border-left: 10px solid #E2B024;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new__arrows .slider__prev, .new__arrows .slider__next {
  position: absolute;
  border-bottom: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.new__arrows .slider__prev {
  left: -20px;
  bottom: 45%;
}

.new__arrows .slider__next {
  right: -10px;
  bottom: 45%;
}

.new .slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.new .slick-slide {
  border: none !important;
  outline: none !important;
}
/*# sourceMappingURL=index.css.map */