/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*COLOR
=============================*/
/*FONTS
=============================*/
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333;
}

.col-8 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 22px 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid transparent;
  color: black;
}

.btn--orange {
  background-color: #E2B024;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--orange:hover {
  background-color: transparent;
  border: 1px solid #E2B024;
  color: #FFFFFF;
}

.orange {
  color: #E2B024;
}

.section__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
}

.readmore {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #E2B024;
}

.link {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 9px;
  color: #E2B024;
  text-transform: uppercase;
  padding: 8px 0;
}

.header__wrapper {
  background-color: black;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__slogan {
  color: white;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: 225px;
  margin-right: 105px;
}

.header__li {
  margin-left: 4px;
}

.header__a {
  text-decoration: none;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  font-family: "ChocolateBox", sans-serif;
  color: white;
  padding: 22px 0;
}

.header__menu .menu__link {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #E2B024;
  border-bottom: 1px solid red;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__register {
  color: white;
  margin-right: 12px;
}

.header__icon {
  margin-left: 30px;
}

.hero {
  padding-top: 190px;
  color: #FFFFFF;
  text-align: center;
}

.hero__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__suptitle {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}

.hero__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 55px;
  margin: 32px 0 32px;
}

.hero__description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  max-width: 745px;
  font-style: normal;
  max-width: 745px;
  margin-bottom: 35px;
}

.hero__description #more {
  display: none;
}

.hero__link {
  margin-bottom: 30px;
}

.new {
  background-color: #18191A;
}

.new__row {
  padding: 267px 0;
}

.new__item {
  padding-right: 65px;
}

.new__suptitle {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 47px;
}

.new__title {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 43px;
  color: #E2B024;
  margin-bottom: 8px;
}

.new__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.new__description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.new__buttons {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.new__buttons .new__button:first-child {
  margin-right: 60px;
}

.new__item--right {
  position: relative;
}

.new__img {
  margin-left: 100px;
  margin-top: -150px;
}

.new__circle {
  z-index: -1;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background-color: #E2B024;
  margin-left: 100px;
}

.new__circle::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 567px;
  height: 206px;
  border-bottom: transparent;
  border-top: 10px solid #E2B024;
  border-right: 10px solid #E2B024;
  border-left: 10px solid #E2B024;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new__circle::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 567px;
  height: 206px;
  border-top: transparent;
  border-bottom: 10px solid #E2B024;
  border-right: 10px solid #E2B024;
  border-left: 10px solid #E2B024;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new__arrows .slider__prev, .new__arrows .slider__next {
  position: absolute;
  border-bottom: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.new__arrows .slider__prev {
  left: -20px;
  bottom: 45%;
}

.new__arrows .slider__next {
  right: -3%;
  bottom: 45%;
}

.new .new__slider {
  width: 100%;
}

.new .slick-list {
  overflow-x: hidden;
}

.new .slick-track {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new .slick-slider {
  outline: none;
  border: none;
}

.sort__title {
  margin: 100px 0 90px;
}

.sort__filter {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  line-height: 1.5;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort__filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.sort__filter .filter__items {
  margin-right: 70px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sort__filter .filter__items:last-child {
  margin-right: 0;
}

.sort__filter .filter__items--active {
  color: #E2B024;
  cursor: pointer;
}

.sort__filter .filter__items--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E2B024;
  bottom: 0;
  left: 0;
  z-index: 12;
}

.sort__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 95px 0;
  min-width: 292px;
}

.sort__img {
  left: 15%;
  min-height: 365px;
  margin-bottom: 15px;
}

.sort__discount {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
  display: inline-block;
  background-color: #E2B024;
  position: absolute;
  left: 0;
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort__row {
  padding-top: 90px;
}

.sort__column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sort__product-name {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  -ms-grid-column-align: left;
      justify-self: left;
}

.sort__old-price {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #E2B024;
  text-decoration: line-through;
  margin-right: 5px;
}

.sort__new-price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #E2B024;
}

.offer__title {
  margin: 150px 0 135px;
}

.offer__row {
  min-width: 0;
}

.offer__item {
  position: relative;
  margin: 0 15px;
}

.offer__img {
  width: 100%;
}

.offer__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  bottom: 0;
  left: 6%;
  min-width: 0;
}

.offer__name {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.offer__price {
  font-family: "ChocolateBox", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.offer .slick-slider {
  outline: none;
  border: none;
}

.offer .slick-slide.slick-current.slick-active .slider__active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.offer .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .slick-list {
  width: 100%;
  overflow: hidden;
}

.offer .slick-dots {
  padding-top: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .slick-dots li {
  list-style-type: none;
  margin: 10px;
}

.offer .slick-dots li button {
  outline: none;
  border: transparent;
  font-size: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.offer .slick-dots .slick-active button {
  background-color: #E2B024;
}

.events {
  padding-bottom: 150px;
}

.events__title {
  margin-bottom: 60px;
}

.events__row {
  min-width: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.events__inner {
  padding-top: 255px;
  color: white;
  position: relative;
}

.events__link {
  padding: 8px 0;
  width: 122px;
}

.events__name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding: 60px 0 8px;
}

.events__date {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.events__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  width: 510px;
  margin: 45px 0;
}

.events__img {
  width: 100%;
}

.events__item--left {
  min-width: 370px;
  min-height: 410px;
}

.events__item--right {
  padding-left: 30px;
  background-color: #18191A;
  height: 100%;
}

.events #more {
  display: none;
}

.events .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .slick-slide {
  border: none !important;
  outline: none !important;
}

.events .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .slick-list {
  overflow: hidden;
}

.events .slick-arrow {
  position: absolute;
  font-size: 0;
  outline: none;
  border: none;
  z-index: 55;
  background-image: url("/images/svg/arrow.svg");
  width: 84px;
  height: 84px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.events .slick-prev {
  left: -150px;
  top: 78%;
  -webkit-transform: translateY(-78%);
          transform: translateY(-78%);
}

.events .slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -150px;
  top: 70%;
}

.contact__title {
  padding-bottom: 100px;
}

.contact__description, .contact__type {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}

.contact__item {
  margin-bottom: 50px;
}

.contact__description {
  line-height: 2;
  padding-bottom: 75px;
  max-width: 450px;
}

.contact__icon {
  margin-right: 30px;
}

.contact .social-icons__item {
  margin-top: 25px;
  margin-right: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .social-icons__item svg {
  fill: #E2B024;
}

.contact .social-icons__item:hover svg {
  fill: white;
}

.contact__form {
  width: 100%;
}

.contact__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.contact__label div {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  position: absolute;
  top: -15px;
  left: 35px;
  background-color: black;
  padding: 0 15px;
}

.contact__label input {
  width: 610px;
  height: 64px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 28px;
  padding: 0 30px;
}

.contact__label textarea {
  width: 610px;
  height: 103px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 28px;
  padding: 30px 30px 0 30px;
}

.contact__button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
}
/*# sourceMappingURL=index.css.map */