
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding:0;
}
a, span{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
}

.btn{
    padding: 22px 48px;
    @include font($font-poppins, 24px, 500);
    border: 1px solid transparent;
    color: black;
    &--orange{
        background-color: $orange;
        transition: 0.3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $orange;
            color: $white;
        }
    }
}
.orange{
    color: $orange;
}
