html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: $black;
  margin: 0;
  padding: 0;
}
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.align-items {
  align-items: center;
}
.justify-content{
  display: flex;
  justify-content: center;
}

.btn {
  padding: 22px 48px;
  @include font($font-poppins, 24px, 500);
  line-height: 1;
  border: 1px solid transparent;
  outline: none;
  color: $black;
  &--orange {
    background-color: $orange;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      border: 1px solid $orange;
      color: $orange;
    }
  }
  &--red {
    background-color: red;
    color: $black;
    &:hover {
      background-color: transparent;
      border: 1px solid red;
      color: red;
    }
  }
}
.orange {
  color: $orange;
}
.section__title {
  @include font($font-choco, 48px, 400);
  line-height: 1.5;
  color: $white;
  text-align: center;
}
.readmore {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid $orange;
}
.link {
  @include font($font-choco, 16px, 300);
  line-height: 9px;
  color: $orange;
  padding: 8px 0;
}
.uppercase {
  text-transform: uppercase;
}
