html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background-color:$black;
    margin: 0;
    padding:0;
}
a, span{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
}
.align-items{
    align-items: center;
}

.btn{
    padding: 22px 48px;
    @include font($font-poppins, 24px, 500);
    line-height: 1;
    border: 1px solid transparent;
    outline: none;
    color: black;
    &--orange{
        background-color: $orange;
        transition: 0.3s;
        &:hover{
            background-color: transparent;
            border: 1px solid $orange;
            color: $white;
        }
    }
}
.orange{
    color: $orange;
}
.section__title{
    @include font($font-choco, 48px, 400);
    line-height: 1.5;
    color: $white;
    text-align: center;

}
.readmore{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid $orange;
}
.link{
    @include font($font-choco, 16px, 300);
    line-height: 9px;
    color: $orange;
    padding: 8px 0;

}
.uppercase{
    text-transform: uppercase;
}
.overlay{
    position: fixed;
    width: 0%;
    height: 100%;
    z-index: 15;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color:$black;
    opacity: .9;
    transition: 0.7s;
    &__burger-menu{
        position: relative;
        top: 20%;
        width: 100%;
        margin-top: 30px;
        margin-left: 100px;
        a{
           color:$orange;
           position: relative;
           @include font($font-choco, 16px, 400);
           line-height: 1.5;
           padding: 10px;
           transition: 0.4s;
           &:hover, &:focus {
             &::before{
                content: '';
                position: absolute;
                height: 0;
                width: 0;
                background-color: $white;
                left: -55px;
                top: 50%;
                transition: 0.4s;
                animation: example .3s forwards;
                @keyframes example{
                    0%{
                        width: 0;
                        height: 0;
                    }
                    25%{
                        width:10px;
                        height: 1px;
                    }
                    50%{
                        width: 25px;
                        height: 1px;
                    }
                    75%{
                        width: 35px;
                        height: 1px;
                    }
                    100%{
                        width: 45px;
                        height: 1px;
                    }
                }
             }    
             color: $white;
           }
        }
    }
    &__search{
        position: relative;
        top: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        .search{
            background-color: $white;
            padding: 18px 35px 18px 35px;
            outline: none;
            color: $black;
            width: 350px;
            border: none;
            border: 1px solid transparent;
            @include font($font-poppins, 18px, 400);
            &::placeholder{
                color: $black;
                @include font($font-poppins, 18px, 700);
            }
        }
        .button{
            display: inline-block;
            padding: 15px 30px;
            border: 1px solid transparent;
            outline: none;
            background-color: $orange;
            transition: 0.3s;
            cursor: pointer;
            i{
                color: $black;
                font-size: 27px;
            }    
            &:hover{
                border: 1px solid $orange;
                background-color: transparent;
                i{
                    color: $orange;

                }
            }
        }
    }
}
.overlay2{
    width: 50%;
    display: none;
}
.overlay .closebtn {
    position: absolute;
    top: 22px;
    right: 45px;
    font-size: 45px;
    color:$orange;
    transition: 0.3;
    cursor: pointer;
    &:hover, &:focus {
        color: $white;
       }
  }
