/*COLOR
=============================*/

$orange:#E2B024;
$light-dark:#18191A;
$white:#FFFFFF;

/*FONTS
=============================*/

$font-poppins:"Poppins", sans-serif;
$font-choco:"ChocolateBox", sans-serif;
