@include for-size(small-phone){
    .contact{
        padding-top: 70px;
        &__row{
            padding: 30px 0;
        }
        &__description, &__type{
            font-size: 14px;
        }
        &__description{
            max-width: 100%;
            padding-bottom: 30px;
            font-size: 14px;
            line-height: 1.4;
        }
        &__item{
            margin-bottom: 15px;
        }
        .social-icons{
            &__item{
                margin:10px 30px 0 0;
                svg{
                    width: 30px;
                }
            }
        }
        &__form{
            margin-top: 50px;
        }
    }
}

/*========================================*/
@include for-size(iphone-x){
    .contact{
        &__description{
            max-width: 100%;
            padding-bottom: 30px;
            line-height: 1.4;
            font-size: 12px;
        }
        &__icon{
            margin-right: 20px;
            svg{
                width: 16px;
                height: 16px;
            }
        }
        &__type{
            font-size: 12px;
        }
        &__item{
            margin-bottom: 8px;
        }
        .social-icons{
            &__item{
            margin: 5px 30px 0 0;
            svg{
                width:25px;
                height: 25px;
            }
            }
        }
        &__label{
            span{
                font-size: 14px;
                top: -8px;
                left: 20px;
            }
            input{
                height: 35px;

            }
            textarea{
                height: 80px;
            }

        }
        
    }
}