@include for-size(small-phone){
    .contact{
        &__row{
            padding: 30px 0;
        }
        &__description, &__type{
            font-size: 14px;
        }
        &__description{
            max-width: 100%;
            padding-bottom: 30px;
        }
        &__item{
            margin-bottom: 15px;
        }
        .social-icons{
            &__item{
                margin:10px 30px 0 0;
                svg{
                    width: 30px;
                }
            }
        }
        &__form{
            margin-top: 50px;
        }
    }
}