@include for-size(small-phone){
    .footer{
        &__top{
            margin:50px 0;
        }
        &__title{
            font-size: 18px;
            text-transform: capitalize;
            margin:15px 0;
        }
        &__link{
            margin-bottom: 25px;
            font-size: 14px;
        }
        &__social-icons{
            margin: 10px 0;
            .social-icons__item{
                margin-right: 30px;
            }
        }
        &__bottom{
            font-size: 14px;
        }
    }
}

/*==========================================*/
@include for-size(iphone-x){
    .footer{
        &__link{
            margin-bottom:8px;
            font-size: 12px;
        }
        &__social-icons{
            .social-icons__item{
                margin-right: 17px;
            }
        }
        &__item{
            &:last-child{
                display: flex;
                flex-wrap: nowrap;
            }
            svg{
                margin-right: 5px;
            }
        }
        &__bottom{
            padding: 18px 25px;
            font-size:10px;
        }
    }
}