@include for-size(small-phone){
    .hero{
        padding-top: 70px;
        max-height: 100vh;
        &__suptitle{
            font-size: 14px;
        }
        &__title{
            font-size: 36px;
            margin: 15px 0 15px;

        }
        &__description{
            font-size: 12px;
            max-width: 300px;
            margin-bottom: 15px;
        }
        &__link{
            margin-bottom: 15px;
        }
        &__img{
            max-width: 50%;
        }

    }
}

/*=====================================*/
@include for-size(iphone-x){
    .hero{
        padding-top: 150px;
    
    }

}