@include for-size(small-phone){
    .newsletter{
        &__description{
            font-size: 14px;
            margin-bottom: 30px;
        }
        &__title{
            padding: 60px 0 10px;
        }
        &__email{
            padding: 10px 20px;
            font-size: 14px;
            &::placeholder{
                font-size: 14px;
            }
        }
        &__form{
            width:75%;
        }
        &__button{
            font-size: 14px;
        }
    }
}
/*=======================================*/
@include for-size(iphone-x){
    .newsletter{
        &__form{
            width: 85%;
        }
        &__button{
            padding: 10px;
        }
        &__label{
            font-size: 9px;
        }
    }
}