@include for-size(small-phone){
    .new{
        &__row{
            padding: 80px 0;
        }
        &__item-left{
            padding-right: 0;
        }
        &__suptitle{
            margin-bottom: 30px;
        }
        &__title{
            font-size: 60px;
        }
        &__subtitle{
            margin-bottom: 30px;
            font-size: 30px;
        }
        &__description{
            font-size: 14px;
        }
        &__item--right{
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items:center;
        }
        &__circle{
            svg{
                max-width:420px !important;
            }
        }
        &__arrows{
            .slider__prev{
                left: 12%;
                font-size: 18px;

            }
            .slider__next{
                right:9%;
                font-size: 18px;

            }
        }
        &__img{
            margin-top: 100px;
            max-height: 480px !important;
        }

    }

}