@include for-size(small-phone){
    .sort{
        &__title{
            margin: 80px 0 30px;
        }
        &__filter{
            font-size: 18px;
        }
        &__item{
            margin-bottom: 50px;
        }
        &__row{
            padding-top: 80px;
        }
        &__product-name{
            font-size: 18px;
        }
        &__old-price{
            font-size: 14px;
        }
        &__new-price{
            font-size: 18px;
        }
        &__link{
            margin-bottom: 100px;
        }
        &__img{
            max-height: 300px;
        }
    }
}

/*=========================================*/
@include for-size(iphone-x){
    .sort{
        &__filter{
            font-size: 14px;
            .filter__items{
                margin-right: 35px;
            }
        }
        &__discount{
            font-size: 12px;
            width: 60px;
            height: 30px;
        }
        &__img{
            max-height: 220px;
        }
        &__product-name{
            font-size: 14px;
        }
        &__old-price{
            font-size: 11px;
        }
        &__new-price{
            font-size: 14px;
        }

    }
}