@include for-size(small-phone){
    .container{
        box-sizing: border-box;
        padding:0 30px;
    }
    .link{
        font-size: 12px;
        padding: 4px 0;
    }
    .btn{
        padding: 15px 30px;
        font-size: 18px;
    }
    .section__title{
        font-size:40px ;
    }
    
}


/*======================================*/
@include for-size(iphone-x){
    .btn{
        padding: 10px 20px;
        font-size: 14px
    }
    .section__title{
        font-size:24px ;
    }
    .link{
        font-size: 8px;
        padding: 4px 0;
        line-height: 1;
    }
    .readmore{
        border-bottom: 1px solid $orange;
    }
}