.events {
  padding-bottom: 150px;
  &__title {
    margin-bottom: 60px;
  }
  &__row {
    min-width: 0;
  }
  &__img{
    min-width: 100%;
  }
  &__inner {
    padding-top: 255px;
    color:$white;
    position: relative;

  }
  &__link {
    padding: 8px 0;
    width: 122px;
  }
  &__name {
    @include font($font-poppins, 24px, 600);
    line-height: 36px;
    padding: 60px 0 8px;
  }
  &__date, &__text {
    @include font($font-poppins, 18px, 400);
    line-height: 1.5;
  }
  &__text {
    width: 65%;
    margin: 45px 0;
  }
  &__item--right {
    padding-left: 30px;
    background-color: $light-dark;
    height: 100%;
  }
  i{
    color: white;
    font-size: 65px;
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-slide {
    border: none !important;
    outline: none !important;
  }
  .slick-track {
    display: flex;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-arrow{
    position: absolute;
    font-size: 0;
    outline: none;
    border: none;
    z-index: 2;
    svg{
      stroke:$orange;
      transition: 0.3s;
      &:hover{
        stroke: $white;
      }
      
    }
   
  }
  .prev__arrow{
    left: -150px;
    top: 78%;
    transform: translateY(-78%);
    color: white;
    font-size: 50px;
  }
  .next__arrow{
    transform: rotate(180deg);
    right:-150px;
    top: 70%;
}
}
