.header {
  // position: fixed;
  // width: 100%;
  // background-color: $black;
  // z-index: 5;
  &__top {
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
  }
  &__list,
  &__icons,
  &__top--right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slogan,.list__link {
    @include font($font-poppins, 14px, 400);
    line-height: 18px;
    color: $white;
  }
  &__icon {
    margin-left: 30px;
    cursor: pointer;
  }
  .list__item {
    margin-left: 46px;
    transition: .3s;
    .list__link{
        &:hover{
            color: $orange;
        }
    }
  }
  &__logo {
    margin-right: -220px;
  }
}
.nav {
  &__menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 22px 0;
    .menu__link {
      transition: 0.3s;
      color: $orange;
      @include font($font-choco, 16px, 400);
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $orange;
      }
    }
  }
}
