.header {
  // position: fixed;
  // width: 100%;
  // background-color: $black;
  // z-index: 5;
  &__top,
  &__top--right,
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    padding: 12px 0;
  }
  &__logo {
    margin-right: -220px;
  }
  &__list,
  &__icons,
  &__slogan,
  .list__link {
    @include font($font-poppins, 14px, 400);
    line-height: 18px;
    color: $white;
    cursor: pointer;
  }
  &__icon {
    margin-left: 30px;
    cursor: pointer;
  }
  .list__item {
    margin-left: 46px;
    transition: 0.3s;
    .list__link {
      &:hover {
        color: $orange;
      }
    }
  }
}
.nav {
  &__menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 22px 0;
    .menu__link {
      transition: 0.3s;
      color: $orange;
      @include font($font-choco, 16px, 400);
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $orange;
      }
    }
  }
}
.overlay {
  position: fixed;
  width: 0%;
  height: 100%;
  z-index: 15;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: $black;
  opacity: 0.9;
  transition: 0.7s;
  .closebtn {
    position: absolute;
    top: 5%;
    right: 45px;
    font-size: 45px;
    color: $orange;
    transition: 0.3;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
.burger {
  &__overlay {
    width: 40%;
    display: none;
  }
  &__menu {
    top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu__link {
      color: $orange;
      position: relative;
      @include font($font-choco, 16px, 400);
      line-height: 1.5;
      padding: 10px;
      transition: 0.4s;
      span{
        svg{
          fill: $orange;
          width: 20px;
          height: 20px;
          margin-right: 15px;
          transition: 0.3s;
        }
      }
      &:hover,
      &:focus {
        &::before {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          background-color: $white;
          left: -55px;
          top: 50%;
          transition: 0.4s;
          animation: example 0.3s forwards;
          @keyframes example {
            0% {
              width: 0;
              height: 0;
            }
            25% {
              width: 10px;
              height: 1px;
            }
            50% {
              width: 25px;
              height: 1px;
            }
            75% {
              width: 35px;
              height: 1px;
            }
            100% {
              width: 45px;
              height: 1px;
            }
          }
        }
        color: $white;
        svg{
          fill: $white;
        }
      }
    }
  }
}
.search {
  &__overlay {
    width: 40%;
    display: none;
  }
  &__form {
    position: relative;
    top: 5%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__label{
    width: 85%;
  }
  &__input {
    box-sizing: border-box;
    background-color: $white;
    padding: 18px 35px 18px 35px;
    outline: none;
    color: $black;
    width: 100%;
    border: none;
    border: 1px solid transparent;
    @include font($font-poppins, 18px, 400);
    &::placeholder {
      color: $black;
      @include font($font-poppins, 18px, 700);
    }
  }
  &__button {
    // display: inline-block;
    padding: 15px 30px;
    border: 1px solid transparent;
    outline: none;
    background-color: $orange;
    transition: 0.3s;
    cursor: pointer;
    i {
      color: $black;
      font-size: 27px;
    }
    &:hover {
      border: 1px solid $orange;
      background-color: transparent;
      i {
        color: $orange;
      }
    }
  }
}
.login {
  &__overlay {
    width: 40%;
    display: none;
  }
  &__form {
    width: 90%;
    margin: 5% auto 15% auto;
  }
  &__img-container {
    text-align: center;
    margin: 100px 0 50px;
    svg {
      width: 30%;
      fill: $orange;
    }
  }
  &__psw {
    @include font($font-poppins, 20px, 400);
    color: $white;
    a {
      color: $orange;
    }
  }
  &__row {
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }
  &__checkbox {
    @include font($font-poppins, 20px, 400);
    color: $white;
    margin: 30px 0 50px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;

    span {
      @include font($font-poppins, 20px, 400);
      line-height: 1.5;
      color: white;
      position: absolute;
      top: -15px;
      left: 35px;
      padding: 0 15px;
      background-color: $black;
    }
    input {
      width: 100%;
      height: 55px;
      box-sizing: border-box;
      padding: 12px 20px;
      border: 1px solid $white;
      background-color: transparent;
      outline: none;
      color: white;
      font-size: 20px;
    }
  }
  &__button {
    width: 100%;
  }
  &__closebtn {
    position: absolute;
    top: 5%;
    right: 45px;
    font-size: 45px;
    color: $orange;
    transition: 0.3;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
.register {
  &__overlay {
    width: 40%;
    display: none;
  }
  &__container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto 15% auto;
  }
  &__title {
    @include font($font-poppins, 36px, 500);
    line-height: 1;
    color: $white;
    text-align: left;
    padding: 100px 0 30px;
  }
  &__psw,
  &__description {
    @include font($font-poppins, 20px, 400);
    color: $white;
  }
  &__description {
    padding-bottom: 100px;
  }

  &__text {
    @include font($font-poppins, 18px, 400);
    color: $white;
    padding: 0 0 30px;
    a {
      color: $orange;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;

    span {
      @include font($font-poppins, 20px, 400);
      line-height: 1.5;
      color: white;
      position: absolute;
      top: -15px;
      left: 35px;
      padding: 0 15px;
      background-color: $black;
    }
    input {
      width: 100%;
      height: 55px;
      box-sizing: border-box;
      padding: 12px 20px;
      border: 1px solid $white;
      background-color: transparent;
      outline: none;
      color: white;
      font-size: 20px;
    }
  }
  &__button {
    width: 100%;
    margin-bottom: 30px;
  }
  &__closebtn {
    position: absolute;
    top: 5%;
    right: 45px;
    font-size: 45px;
    color: $orange;
    transition: 0.3;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
