.newsletter{
    background-color: $light-dark;
    padding-bottom: 60px;
    width: 100%;
    &__title{
        padding: 60px 0 24px;
        color: $orange;
     
    }  
    &__description{
        @include font($font-poppins, 18px, 400);
        line-height: 1.5;
        color:$white;
        margin-bottom: 69px;
        text-align: center;
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 65%;
        margin: 0 auto;
    }
    &__label1{
        width: 75%;
    }
  
    &__email{
        box-sizing: border-box;
        background-color: $black;
        padding: 18px 35px;
        outline: none;
        color: $white;
        width: 100%;
        border: none;
        border: 1px solid transparent;
        @include font($font-poppins, 18px, 400);

        &::placeholder{
            color: $white;
            @include font($font-poppins, 18px, 400);
            display: flex;

        }
    }
    &__button{
        @include font($font-poppins, 18px, 400);
        color: $black;
        padding: 18px 20px;
        border: 1px solid transparent;
        outline: none;
        background-color: $orange;
        transition: 0.3s;
        &:hover{
            border: 1px solid $orange;
            background-color: transparent;
            color: $orange;
        }
    }
}