.new {
    background-color: $light-dark;
    width: 100%;
    &__row {
      padding: 267px 0;
    }
    &__item--left {
      padding-right: 65px;
    }
    &__suptitle {
      @include font($font-poppins, 20px, 400);
      line-height: 1.5;
      color: $white;
      margin-bottom: 47px;
      letter-spacing: 10px;
    }
    &__title {
      @include font($font-choco, 74px, 400);
      line-height: 43px;
      color: $orange;
      margin-bottom: 8px;
    }
    &__subtitle {
      @include font($font-poppins, 36px, 400);
      line-height: 1.5;
      color: $white;
      margin-bottom: 52px;
    }
    &__description {
      @include font($font-poppins, 18px, 200);
      line-height: 1.5;
      color: $white;
      margin-bottom: 60px;
    }
    &__buttons {
      .new__button:first-child {
        margin-right: 60px;
      }
    }
    &__item--right{
      position: relative;
    }
    &__img {
      max-height: 650px !important;
    }
    &__arrows {
      .slider__prev,
      .slider__next {
        position: absolute;
        border-bottom: transparent;
        border-left: transparent;
        border-top: transparent;
        border-bottom: 2px solid $white;
        color: $white;
        @include font($font-poppins, 24px, 500);
        line-height: 30px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: $orange;
          border-bottom:2px solid $orange
        }
      }
      .slider__prev {
        left:0;
        transform: translateX(-50%);
        bottom: 48%;
      }
      .slider__next {
        right: -2%;
        bottom: 48%;
      }
    }
    .slick-list {
      overflow-x: hidden;
      width: 100%;
    }
    .slick-track{
      display: flex;
    }
    &__slider{
      position: absolute;
      top: -20%;
      left: 0;
      width: 100%;
        .slider__item{
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
    .slick-slider {
      outline: none;
      border: none;
    
    }
  }
  
