.sort{
    &__row{
        width: 100% !important;
    }
    &__title{
        margin: 100px 0 90px;
    }
    &__filter{
        @include font($font-poppins, 24px, 400);
        position: relative;
        line-height: 1.5;
        color: $white;
        display: flex;
        justify-content: center;  
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: white;
        }
        .filter__items{
            margin-right:70px;
            position: relative;
            transition: 0.3s;
            &:last-child{
                margin-right: 0;
            }
            &--active{
                color: $orange;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $orange;
                    bottom: 0;
                    left: 0;
                    z-index: 12;
                }
            }
        }
    }
    &__item{
        position: relative !important;
        display: flex;
        flex-direction: column  !important;
        align-items: center !important;
        margin:0 0 95px 0;
        justify-content: flex-end !important;
    }
    &__img{
        margin-bottom:15px;
        max-height: 360px;

    }
    &__discount{
        @include font($font-poppins, 14px, 400);
        line-height: 21px;
        color:black;
        display: inline-block !important;
        background-color: $orange;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 80px;
        height: 40px;
        display:flex  !important;
        justify-content: center !important;
        align-items: center !important;

    }
    &__row{
        padding-top: 90px;
    }
    &__column{
        justify-content: flex-start !important;
    }
    &__product-name{
        @include font($font-choco, 24px, 400);
        line-height: 1.2;
        color: $white;
        justify-self: left;
    }
    &__old-price{
        @include font($font-poppins, 16px, 300);
        line-height: 1.2;
        color: $orange;
        text-decoration: line-through;
        margin-right: 5px;
    }
    &__new-price{
        @include font($font-poppins, 24px, 400);
        line-height: 1.2;
        color: $orange;
    }
    &__link{
        margin-bottom: 170px;
    }
   
}